@font-face {
	font-family: 'Black Thunder';
	src: url(../../assets/fonts/BlackThunderRegular.woff2) format('woff2'),
	url(../../assets/fonts/BlackThunderRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}